<h1>Key Inventory</h1>
<hr />
<div class="cotainer"></div>
<mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start">
  <mat-tab label="All">
    <div class="key-holder">
      <img class="key" src="../../../../assets/available-key.png" alt="" />
      <label><strong>Room IT 204</strong></label>
    </div>
    <div class="key-holder">
      <img class="key" src="../../../../assets/borrowed-key.png" alt="" />
      <label><strong>Room IT 205</strong></label>
    </div>
  </mat-tab>
  <mat-tab label="Available Keys">Content 2</mat-tab>
  <mat-tab label="Borrowed Keys">Content 3</mat-tab>
</mat-tab-group>
