<h1>Semester Management</h1>
<hr />
<form>
  <div class="input-group mb-3">
    <div class="input-group">
      <span class="input-group-text">Academic Year (Start - End)</span>
      <input type="text" aria-label="First name" class="form-control" />
      <input type="text" aria-label="Last name" class="form-control" />
    </div>
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Semester :</span
    >
    <select class="form-select" id="selectSemester">
      <option value="1st Semester">1st Semester</option>
      <option value="2nd Semester">2nd Semester</option>
    </select>
  </div>
</form>
